.animal-infos {
  display: flex;
}

.animal-details {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  margin-left: 20px;
}

.booking {
  background-color: $light-gray;
  border-radius: 5px;
  width: 100%;
  margin-left: 20px;
}
