<div class="banner" style="background-image: linear-gradient(rgba(7,7,50,0.6),rgba(7,7,50,0.6)), url(https://casques-vr.com/wp-content/uploads/2018/01/Animaux_Fantastiques_VR_experience_4.jpg);">
  <div class="container" >
    <h1 style="text-align: center;">LITTLE MONSTER BRING JOY TO YOUR LIFE!</h1>
    <p style="text-align: center;">Change your life and rent your own fantastical animal.</p>
    <a class="btn btn-flat-yellow center-button" style="text-align: center" href="/animals" ><strong>Book now</strong></a>
  </div>
</div>
 <div class= "container mt-4">
  <h2 style="text-align: center ;"><strong>Discover the perks of renting your own little monster</strong></h2>

  <p class= "container mt-4 justify-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 </div>

