<div class="banner" style="background-image: linear-gradient(rgba(7,7,50,0.6),rgba(7,7,50,0.6)), url(https://casques-vr.com/wp-content/uploads/2018/01/Animaux_Fantastiques_VR_experience_4.jpg);">
  <div class="container" >
    <h1 style="text-align: center;">LITTLE MONSTER BRING JOY TO YOUR LIFE!</h1>
    <p style="text-align: center;">Change your life and rent your own fantastical animal.</p>
    <a class="btn btn-flat-yellow center-button" style="text-align: center" href="/animals" ><strong>Book now</strong></a>
  </div>
</div>
 <div class= "container mt-4">
  <h2 style="text-align: center ;"><strong>Discover the perks of renting your own little monster</strong></h2>

  <p class= "container mt-4 mb-4 justify-content" style="text-align: center" >Your new companion, for a day or for a longer period of time, will allow you to take advantage of his different powers or talents. <strong>Little Monster</strong>, a unique experience to discover now.</p>

   <div class="home-cards mb-5">
    <%= link_to animals_path, class: "link-hp" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(7,7,50,0.6),rgba(7,7,50,0.6)), url(https://images.unsplash.com/photo-1481061999598-765fc589f514?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60)" >
      Powers 🔮
    </div>
    <% end %>

    <%= link_to animals_path, class: "link-hp" do %>
    <div class="card-category" href="/animals" style="background-image: linear-gradient(rgba(7,7,50,0.6),rgba(7,7,50,0.6)), url(https://images.unsplash.com/photo-1578634383009-bc0448eb3ca7?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60)" >
      Talents 😈
    </div>
    <% end %>

    <%= link_to animals_path, class: "link-hp" do %>
    <div class="card-category" href="/animals" style="background-image: linear-gradient(rgba(7,7,50,0.6),rgba(7,7,50,0.6)), url(https://images.unsplash.com/photo-1531574749638-a25b3507b7ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)" >
      Experiences 💜
    </div>
    <% end %>
  </div>
 </div>

