<div class="container wrap-container mt-3 mb-3">
  <h3><strong>Add your animal</strong></h3>
  <%= render 'shared/form' %>
  <hr>
  <%= link_to "< Cancel", animals_path, class: 'btn' %>
  <hr>
</div>
