.btn-flat-yellow {
  color: $dark-blue;
  padding: 8px 24px;
  border-radius: 10px;
  background: $yellow;
  transition: background 0.3s ease;
}

.btn-flat-yellow:hover {
  background: #e5c793;
  color: $dark-blue;
}

.btn-flat-purple {
  border: 1px solid $dark-blue;
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  background: $dark-blue;
  transition: background 0.3s ease;
}

.btn-flat-purple:hover {
  border:1px solid white;
  text-decoration: bold;
  color: $yellow;
}

.strong {
  font-weight: bold;
}

.link-hp:hover {
text-decoration: none;
}
// corresponding html below
// html : <a class="btn btn-flat" href="#">Book now</a>
// erb : <%= link_to "Book now", "#", class: "btn btn-flat" %>

.ownerdashboard-btn {
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  height: 100%;

  a {
    margin: 0 1rem;
    padding: 2px 8px;
    color: white;
    font-weight: bold;

  }
}

.ownerdashboard-update-btn {
  background-color: $yellow;
  border-radius: 7px;
  font-size: medium;
  padding: 2px;
  // margin-left: auto;
}

.ownerdashboard-delete-btn {
  background-color: rgba(255, 0, 0, 0.637);
  border-radius: 7px;
  font-size: medium;
  padding: 2px;
  // margin-right: 4px;
}

.ownerdashboard-delete-btn:hover {
  color: $yellow;
  text-decoration: none;
}

.ownerdashboard-update-btn:hover {
  text-decoration: none;
}
// .ownerdashboard-owner-btn {
//   display: flex;
//   align-items: center;
// }

// .dashboard-owner-btn {
//   bac
// }